SOLANA_NETWORK=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com
ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
ANCHOR_WALLET=~/.config/solana/id.json
PROGRAM_ID=G5g6sekcjmuxNriHN2K6kca2tFVXXqL1C6yd5uLpvoTj
ADMIN_KEYPAIR_PATH=~/.config/solana/id.json
FEE_PAYER_KEYPAIR_PATH=~/.config/solana/id.json
MNA_MINT_ADDRESS=
QUOTE_MINT_ADDRESS=
QUOTE_TOKEN_PROGRAM_ID=TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
MNA_METADATA_URI=
LOGO_URL=
MNA_DECIMALS=6
QUOTE_DECIMALS=6
RATE_MNA=1
RATE_QUOTE=2
